# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains bare-minimum workspace settings and extensions
# Do not ignore .vscode, but do ignore user-specific files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example
!.vscode/launch.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically add this build folder
/android/app/build/

# macOS
.DS_Store

# CRITICAL SECURITY RULE: NEVER COMMIT KEYSTORE FILES
*.pqks

# Kotlin daemon state
**/.kotlin/
